@use 'fonts';
@use 'margins';

:root {
  --dark-color: #000000;
  --dark-active-color: #161616;
  --light-color: #ffffff;
  --primary-color: #ae7aff;
  --primary-hover-color: #8850e7;
  --gray-color: #575757;
  --gray-light-color: #797979;
  --light-transparent-color: #ffffffbf;
  --message-color: #404040;

  --light-border: 1px solid var(--light-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'JetBrains Mono', sans-serif;
  background-color: var(--dark-color);
  color: var(--light-color);
  background-image: url('/assets/imgs/background.jpg');
  background-attachment: fixed;
  background-position: right;
  background-size: cover;
  height: 100dvh;
  font-size: 14px;
}

.badge-tag {
  padding: 4px 8px;
  border-radius: 4px;
  border: var(--light-border);
  background-color: transparent;
  color: var(--light-color);
  display: inline;
  font-size: 12px;
  font-weight: 700;
  height: 24px;
  transition: .3s all;

  &.deletable {
    display: inline-flex;
    align-items: center;
    gap: 4px;

    .badge-tag__delete {
      background: none;
      border: none;
      color: var(--light-color);
      cursor: pointer;
    }
  }
}

.btn {
  width: 100%;
  height: 44px;
  border: 1px solid var(--dark-color);
  border-radius: 2px;
  background-color: var(--primary-color);
  color: var(--dark-color);
  padding: 9px 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  box-sizing: border-box;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s all;

  &:disabled {
    cursor: not-allowed;
  }

  &.btn-transparent {
    color: var(--light-color);
    background: none;
    border: var(--light-border);
  }

  &.btn-icon {
    width: 44px;
    height: 44px;
    padding: 14px;
    font-size: 0;
  }

  &.btn-text-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  &:hover {
    background-color: var(--primary-hover-color);

    &.btn-transparent {
      color: var(--light-transparent-color);
      background: none;
      border: 1px solid var(--light-transparent-color);
    }

    .btn-hover-icon-container {
      width: 24px;
      left: -24px;
      background-color: var(--primary-hover-color);
      visibility: visible;

      .btn-hover-icon {
        left: 23px;
        opacity: 1;
      }
    }
  }

  .btn-hover-icon-container {
    height: 100%;
    width: 20px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: var(--primary-color);
    transition: all .3s;
    visibility: hidden;

    .btn-hover-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 16px;
      opacity: 0;
      transition: all .3s;
    }
  }
}

.non-visible-btn {
  background: none;
  border: none;
}

.shadow {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: -4px;
    right: -4px;
    background-color: var(--gray-color);
    width: 100%;
    height: 100%;
    border-radius: 2px;
  }
}

.badge {
  background-color: var(--primary-color);
  color: var(--dark-color);
  font-size: 12px;
  font-weight: 700;
  padding: 1px 6px;
  height: min-content;
  min-width: 26px;
  line-height: 16px;
  text-align: center;
}

.svg10 {
  width: 10px;
  height: 10px;
}

.svg14 {
  width: 14px;
  height: 14px;
}

.svg16 {
  width: 16px;
  height: 16px;
}

.svg18 {
  width: 18px;
  height: 18px;
}

.svg20 {
  width: 20px;
  height: 20px;
}

.white {
  color: white;
}

.h1 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 800;
}

h4 {
  font-size: 24px;
  font-weight: 800;
  line-height: 32px;
}

.h6 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.small-text {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.regular {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.medium {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.bold {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.tt-control-label {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  display: block;
}

.tt-input {
  width: 100%;
  display: block;
  border: var(--light-border);
  border-radius: 4px;
  padding: 12px 20px;
  margin-top: 8px;
  background-color: var(--dark-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: 'JetBrains Mono', sans-serif;
  color: var(--light-color);

  &::placeholder,
  &.placeholder {
    color: var(--gray-light-color);
  }
}

.tt-form-label {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  color: var(--light-transparent-color);
}

.tt-form-input {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  border: none;
  border-bottom: 1px solid var(--light-color);
  background: none;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  height: 44px;
  font-family: 'JetBrains Mono', sans-serif;
  color: var(--light-color);
  outline: none;
  transition: 0.5s all;

  &::placeholder {
    font-size: 14px;
    color: var(--light-transparent-color);
  }

  &:focus-visible {
    border-bottom: 1px solid var(--primary-color);
  }

  &.tt-form-input__with-icon {
    padding-right: 26px;
  }
}

.search-input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  color: var(--light-color);
}

.tt-textarea {
  resize: none;
  background-color: var(--dark-color);
  border: none;
  border-bottom: 1px solid transparent;
  color: var(--light-color);
  width: 100%;
  padding: 11px 4px 11px;
  font-size: 14px;
  outline: none;
  transition: 0.5s all;

  &:focus-visible {
    border-bottom: 1px solid var(--primary-color);
  }

  &::placeholder {
    color: var(--light-transparent-color);
  }

  &.bordered {
    border-bottom: 1px solid var(--light-color);
  }
}

.scrollbar {
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--dark-color);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
  }

  &.wide-scrollbar {
    &::-webkit-scrollbar {
      width: 8px;
    }
  }
}

.scroll-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

.no-select {
  user-select: none;
}
